
<div class="card-body">
        <div class="h2">
            {{ author.get_full_name }}
        </div>
        <div class="h3 text-muted">
            {{ author }}
        </div>
</div>
<ul class="list-group list-group-flush">
                   
        <li class="list-group-item">
                <div class="h6 text-muted">
                        Подписчиков: {{ following_count }} <br />
                        Подписан: {{ followers_count }}
                </div>
        </li>
        <li class="list-group-item">
                <div class="h6 text-muted">
                        Записей: {{ post_count }}
                </div>
        </li>

</ul>
                    